<template name="calendar">
  <div class="container">

    <div class='col-md-3'>
        <p class="input-text lead">Dates:</p>
        <form class="bookFlight">
            <div class="form-group lead">
                <div class='input-group date' id='datetimepicker6'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </form>


    </div>

    <div class="col-md-3">
        <p class="input-text lead">Destination:</p>
        <span><input type="text" placeholder="Desired destination" class="input-md lead"></span><br>
        <input type="submit" value="Submit" class="btn btn-primary lead right">
    </div>

    {{ #each destinations }}
        {{> city}}
    {{ /each}}


</div>




<script type="text/javascript">
$(function () {
    $('#datetimepicker6').datetimepicker();

    $("#datetimepicker6").on("dp.change", function (e) {
        $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
    });
});
</script>
</template>