<template name="test_page">
	<div class="col-md-10 col-md-offset-1">
		<div class="info-container">

			<div class="text-container">
				<h2>About I-Tinny</h2>
				<p>I-Tinny uses a state-of-the-art personality assessment to match you with an adventure you'll love.</p>
				<p>We don't just give you random deals, we plan an itinerary around YOU.</p>
			</div>
			<p><strong>Start your adventure now!</strong></p>
			<button type="button" class="btn btn-primary btn-lg new-assessment lead">
			  Take our personality assessment
			</button>

    </div>
  </div>
</template>